# Objective

*  The restaurant owners' claim about the increase in weekly operating costs using hypothesis testing

# Stating Hypothesis

* Null Hypothesis: Sample mean  weekly operating costs is <= theoritical Mean operating Cost Of model.
* Alternate Hypothesis: Sample mean weekly operating costs is> theoritical mean operating cost of model.

In [9]:
# W = $1,000 + $5X for X=600

W = 1000+5*600
W

4000

In [11]:
import numpy as np
import scipy.stats as st

# calculating T value
t = (3050-4000)/(125/np.sqrt(25))
t

-38.0

In [25]:
p_value=st.t.cdf(-38.0,df=24)
p_value

2.9607810808177907e-23

In [27]:
alpha=0.05
if p_value>alpha:
   print("Sample mean  weekly operating costs is <= theoritical Mean operating Cost Of model.")
else:
    print(" Sample mean weekly operating costs is> theoritical mean operating cost of model.")

 Sample mean weekly operating costs is> theoritical mean operating cost of model.

# Conclusion

* With a strong Evidence We can Say That the operating cost of restaurant is more than that model suggest, with 95% confidence and More.